@import "tailwindcss";

@theme inline {
  --color-primary: #7C3AED;
  --color-science: #0284C7;
  --color-success: #059669;
  --color-danger: #DC2626;
  --color-bg-soft: #FAFAFA;
  
  --font-heading: var(--font-inter);
  --font-body: var(--font-roboto);
}

:root {
  --background: #FAFAFA;
  --foreground: #171717;
}

body {
  background: var(--color-bg-soft);
  color: var(--foreground);
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
